.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// TITLE IMAGE

.image-container {
  text-align: center;
}

img {
  height: auto;
  width: 1000px;
}

// FORM

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.player-name-button {
  width: 50px;
}

// BOARDS

.boards-outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boards-container {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(10, 40px);
  grid-template-columns: repeat(10, 40px);
  background-color: rgb(241, 240, 240);
  border: 1px solid black;
}

.grid-container > div {
  border: 1px solid black;
}

.square {
  cursor: pointer;
}

.axis-button {
  width: 100px;
}

// SHIP SELECT

.ship-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ship-select-item {
  background-color: rgb(241, 240, 240);
  border: 1px solid black;
}

/////////////////CARRIER

.carrier-select-container {
  display: grid;
  grid-template-rows: repeat(1, 40px);
  grid-template-columns: repeat(5, 40px);
  cursor: pointer;
}

.carrier-select-container > div {
  border: 1px solid black;
}

/////////////////BATTLESHIP

.battleship-select-container {
  display: grid;
  grid-template-rows: repeat(1, 40px);
  grid-template-columns: repeat(4, 40px);
  cursor: pointer;
}

.battleship-select-container > div {
  border: 1px solid black;
}

////////////////CRUISER

.cruiser-select-container {
  display: grid;
  grid-template-rows: repeat(1, 40px);
  grid-template-columns: repeat(3, 40px);
  cursor: pointer;
}

.cruiser-select-container > div {
  border: 1px solid black;
}

//////////////SUBMARINE

.submarine-select-container {
  display: grid;
  grid-template-rows: repeat(1, 40px);
  grid-template-columns: repeat(3, 40px);
}

.submarine-select-container > div {
  border: 1px solid black;
  cursor: pointer;
}

///////////////DESTROYER

.destroyer-select-container {
  display: grid;
  grid-template-rows: repeat(1, 40px);
  grid-template-columns: repeat(2, 40px);
  cursor: pointer;
}

.destroyer-select-container > div {
  border: 1px solid black;
}
